html {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
body {
  font-family: sans-serif;
  display: grid;
  grid: 
    "sidebar viewport" 1fr
    "sidebar footer" 32px / 27% 73%;
  width: 100%;
  height: 100%;
  justify-items: stretch;
  background-color: #777;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#sidebar {
  grid-area: sidebar;
  z-index: 1;
}
#viewport {
  grid-area: viewport;
  display: grid;
  height: calc(100vh - 32px); /* so the placemat doesn't throw off the grid */
}
footer {
  grid-area: footer;
  background: #222;
  z-index: 1;
}
#placemat {
  position: relative;
  width: 6400px;
  height: 6400px;
}
.square {
  flex: none;
  box-sizing: border-box;
  padding: 20px;
  position: relative;
  color: white;
  text-shadow: 0 0 5px #000, 0 0 5px #000, 0 0 5px #000;
  font: 40px monospace, monospace;
  line-height: 100%;
  overflow: hidden;
  display: grid;
  grid: .5fr 1fr / 1fr;
  align-items: start;
  justify-items: start;
}
.def {
  font-size: 24px;
  border-radius: 6px;
  background: #2228;
  text-shadow: none;
  box-sizing: border-box;
  padding: 6px 12px;
}
.field {
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  display: grid;
}
.label.level3 {
  font-size: 48px;
}
.label.level2 {
  font-size: 150px;
  position: absolute;
  top: 80px;
  left: 50px;
  vertical-align: top;
  text-shadow: 0 0 25px #000, 0 0 25px #000, 0 0 25px #000;
}
.label.level1 {
  font-size: 600px;
  position: absolute;
  top: 300px;
  left: 100px;
  vertical-align: top;
  text-shadow: 0 0 50px #000, 0 0 50px #000, 0 0 50px #000;
}
[hidden] {
  visibility: hidden;
}
